/* Modo paisagem para smartphones */
@media screen and (max-width: 768px) and (orientation: landscape) {
    /* Estilos específicos para smartphones em modo paisagem */
    #navbar {
        height: 80vh;
    }

    .img-sobreLoja {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img-sobreLoja img {
        width: 360px;
        height: 360px;
    }
    
}

/* Modo retrato para tablets */
@media screen and (max-width: 768px) and (orientation: portrait) {
    /* Estilos específicos para tablets em modo retrato */
}

/* Desktops ou telas maiores */
@media screen and (min-width: 769px) {
    /* Estilos específicos para desktops e telas maiores */
}
